
<div class="row" >
	<h2 class="main-block highlight"><%= @language.name.capitalize %></h2>
</div>

<%= render :partial => "partials/intro", :object => @language %>

<% # Next Steps %>
<ul>
<% @language.environments.each do |env| %>
  <li>
    <%= link_to "#{@language.name} for #{env.slug}", environment_language_path(@language.name, env.slug) %>
  </li>
<% end %>  
</ul>
