<p>
  sqo0l is a place where beginners learn how to build web applications.
</p>

<h3>So You want to learn how to make stuff for the Internet!</h3>

as a programmer you program the functionalities of the application.
What the app <strong>does</strong> is handled by the programer.

a designer is responsible for how the application looks.

a user experience/interface (UX) designer is



<h3>Programming is About Problem Solving.</h3>

Our main goal is to teach you how to solve problems using software.
This is the most important distinction between sqo0l and other tutorial sites.
Once you learn how to solve problems through software, you can build (or learn to build) any application on any platform you want!

Hopjoy helps you become a better problem solver by providing 3 core areas of understanding:

<h3>Understanding Your Environment.</h3>

All concepts and tools we talk about have a basic introduction so that
you understand conceptually <em>how</em> a tool or concept fits into the big picture
and how they relate to one another.

<h3>Understanding Your Tools.</h3>

You should understand <em>why</em> a given project uses the tools and methods outlined in the project
so that when you build your own projects you can answer those questions for yourself and pick the right tool for the job.

<h3>Understanding Your Problem.</h3>

You should build the project by <em>understanding the problems</em>
we are trying to solve and understanding how we've come up with the solutions.
This will allow you to break down your own problems and formulate a solution using tools you choose.





