<div class="row" style="">
  <div class="span16 columns">
    <h2>Web Application Environments</h>
  </div>
</div>

<div class="row">
  <div class="span7 columns">

    <h3>Core Introduction</h3>
    <ul>
      <li><%= link_to "Introducing Web Applicatons", "/pages/web-applications" %></li>
    </ul>  

    <h3>Web Browser Introduction</h3>
    <ul>
      <li><%= link_to "Introducing the Web Browser", "/environments/browser"  %></li>
    </ul>  
    
    
  </div>
  <div class="span9 columns">
    <div id="main">
      <%= raw Page.find_by_slug("web-applications").body_to_html %>
      
      <%= raw @environment.body_to_html %>
      
    </div>
  </div>
</div>





