<div class="row" >

  <div class="span9 columns">
    <h2>Web Application Environments</h>
  </div>
</div>

<div class="row">
  <div class="span14 columns offset1" style="padding:10px; background:#eee; height:200px">
    hello
  </div>
</div>  

  <ul class="media-grid">
    <li>
      <a href="#"><img class="thumbnail" src="http://placehold.it/90x90" alt=""></a>
    </li>
    <li>
      <a href="#"><img class="thumbnail" src="http://placehold.it/90x90" alt=""></a>
    </li>
    <li>
      <a href="#"><img class="thumbnail" src="http://placehold.it/90x90" alt=""></a>
    </li>
    <li>
      <a href="#"><img class="thumbnail" src="http://placehold.it/90x90" alt=""></a>
    </li>
    <li>
      <a href="#"><img class="thumbnail" src="http://placehold.it/90x90" alt=""></a>
    </li>
  </ul>


<div class="row">
  <h3 class="main-block">Learn the Core Concepts</h3>
</div>



<div class="row">
  <div class="span5 columns">

    blah
    
  </div>
  <div class="span10 columns">
    <div id="main">
      <%= raw @intro %>
      
    </div>
  </div>
</div>

<div class="row">
  <h3 class="main-block">Web Browser</h3>
</div>


<div class="row">
  <div class="span5 columns">
    Hello
    
  </div>
  <div class="span10 columns">
    <div id="main">
      
      <%= raw @environment.body_to_html %>
      
    </div>
  </div>
</div>


 