<% content_for :sidebar do %>

<h3>Application Environment</h3>

<h3>Core Introduction</h3>
<ul>
  <li><%= link_to "Introducing Web Applicatons", "/pages/web-applications" %></li>
</ul>  

<h3>Web Browser Introduction</h3>
<ul>
  <li><%= link_to "Introducing the Web Browser", "/environments/browser"  %></li>
</ul>  

<% end %>


<%= raw @environment.body_to_html %>