
<%=raw @intro %>


<div class="row" >

  <div class="span9 columns">
    <h2>Explore Application Environments</h2> 
  </div>
  
</div>

<% @environments.each do |env| %> 
<div class="row">
  <h3 class="main-block">
		<%= link_to env.name, environment_path(env.slug) %>
	</h3>
</div>

<ul> 
<% env.projects.each do |project| %>
  <li>
  <%= link_to project.name, "/projects/#{project.slug}" %>
  </li> 
<% end %>
</ul>

<% end %>


<div class="row" >
  <div class="span9 columns">
    <h2>Explore Careers</h2> 
  </div>
</div>


<div class="row" >
  <div class="span9 columns">
    <h2>Explore Languages</h2> 
  </div>
</div>

<ul> 
<% @languages.each do |lang| %>
  <li>
  <%= link_to lang.name, language_path(lang.slug) %>
  </li> 
<% end %>
</ul>
