<div class="row" style="">
  <div class="span16 columns">
    <h2>Web Application Languages</h2>
  </div>
</div>

<div class="row">
  <div class="span7 columns">
    Languages
  </div>
  <div class="span9 columns">
    <div id="main">
      <%= raw @language.body_to_html %>
    </div>
  </div>
</div>

