<% content_for :sidebar do %>

<h3>About This Project</h3>

<h4>Application Environment</h4>
<ul>
  <li><%= link_to @project.platform, "/environments/#{@project.platform}"  %></li>
</ul>  

<h4>Languages Used</h4>
<ul>
  <% @project.languages.each do |lang| %>
  <li><%= lang.name %> - for the browser</li>
  <% end %>
</ul>  

<h4>Frameworks Used</h4>
<ul>
  <li>Jquery</li>
</ul>

<h4>Start</h4>
<% end %>

<%= raw @project.body_to_html %>