<div class="row" >

  <div class="span9 columns">
    <h2>Project: TicTacToe</h>
  </div>
  <div class="span7 columns" style="text-align:right">
    <h2>level: beginner</h2>
  </div>
</div>

<div class="row">
  <div class="span14 columns offset1" style="padding:10px; background:#eee; height:200px">
    hello
  </div>
</div>  

<div class="row">
  <h3 class="main-block">Learn About this Environment</h3>
</div>

<div class="row">
  <div class="span5 columns">
    blah
  </div>
  <div class="span10 columns">
    <div >
      
      <ul>
        <li><%= link_to @project.platform, "/environments/#{@project.platform}"  %></li>
      </ul>  

    </div>
  </div>
</div>

<div class="row">
  <h3 class="main-block">Learn About the Tools</h3>
</div>

<div class="row">
  <div class="span5 columns">
    blah
  </div>
  <div class="span10 columns">
    <div >
      
      <h4>Languages Used</h4>
      <ul>
        <% @project.languages.each do |lang| %>
        <li><%= lang.name %> - for the browser</li>
        <% end %>
      </ul>  

      <h4>Frameworks Used</h4>
      <ul>
        <li>Jquery</li>
      </ul>


    </div>
  </div>
</div>

  


<div class="row">
  <h3 class="main-block">Setup Your Development Environment</h3>
</div>

<div class="row">
  <div class="span5 columns">
    blah
  </div>
  <div class="span10 columns">
    <div >
      
      <ul>
        <li>Core Programming Environment</li>
        <li>Browser-based development</li>
        <li>Language-based development</li>
      </ul>
      
    </div>
  </div>
</div>


<div class="row">
  <h3 class="main-block">Project Steps</h3>
</div>

<div class="row">
  <div class="span5 columns">
    Lesson Plan
  </div>
  <div class="span10 columns">
    <div>
      <%= raw @project.body_to_html %>
    </div>
  </div>
</div>


