
<div class="row" >
	<h2 class="main-block highlight"><%= @intro.slug.capitalize %></h2>
</div>

<%= render :partial => "partials/intro", :object => @intro %>

<p>
	Next you should learn about specific types of application environments,
	especially those you want to make applications for.
	<br/>Environments are listed below:
</p>

<ul class="media-grid">
<% @environments.each do |env| %>
  <li>
    <a href="<%= environment_path(env.slug) %>" style="text-align:center">
      <%= env.slug %>
      <img class="thumbnail" src="http://placehold.it/90x90" alt="">
    </a>
  </li>
<% end %>
</ul>
