<!DOCTYPE html>
<html>
<head>
  <title>Hopjoy</title>
  <%= stylesheet_link_tag "bootstrap-1.2.0.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
