<!DOCTYPE html>
<html>
<head>
  <title>Hopjoy</title>
  <%= stylesheet_link_tag "bootstrap-1.2.0.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <style type="text/css">
  body{
    color:#444;
  }
  ul li, ol li{
    color:#444;
  }
  code {background:transparent;}
    .columns {
      }
      #main {

      }
      .span3 {
      }
      #main h2 {
        border-bottom:2px solid #eee;
        margin:15px 0;
      }
      #main h4 {
        background:#eee;
        padding-left:5px;
      }
    .main-block {
      background:#eee;
      padding:5px;
    }  
  </style>
</head>
<body>
  <div class="container">
    
    <div class="page-header">
      <div class="tags" style="text-align:right">
        <a href="/" class="btn info">home</a>
        <a href="/about" class="btn info">about</a>
      </div>
    </div>
    
    <%= yield %>
    
    
  </div>


</body>
</html>
